createdAt: "2019-11-15T02:49:05.607Z"
updatedAt: "2019-11-15T02:49:05.607Z"
type: "MARKDOWN_NOTE"
folder: "c59adf556f2f145052fd"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: false
