createdAt: "2019-11-15T02:21:28.021Z"
updatedAt: "2019-11-15T02:22:02.494Z"
type: "SNIPPET_NOTE"
folder: "c59adf556f2f145052fd"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: null
    content: ""
  }
]
isStarred: false
isTrashed: true
