createdAt: "2019-11-15T02:22:15.649Z"
updatedAt: "2019-11-15T02:47:14.914Z"
type: "MARKDOWN_NOTE"
folder: "c59adf556f2f145052fd"
title: "How use Boostnote:"
tags: []
content: '''
  # How use Boostnote:
  - - -
  ## 1. Headings
   
  - # H1
  - ## H2
  - ### H3
   
  ## 2. Emphasis
   
  - *Italic type*
  - **Bold**
  - ~~Negative~~
   
  ## 3. Fold (for long sentences):
   
  <details><summary>Boostnote is a notepad corresponding to markdown notation, which is a tool for organizing and sharing information.</summary>
  - Features - <br>
  · Search function to find memos in one shot
  · Supports markdown notation <br>
  · Support for Mac, Windows, Linux, iOS, Android <br>
  · Export and import to Plain text (.txt), Markdown (.md) format <br>
  · Supports PDF saving <br>
  · Can be used offline <br>
  · Synchronize to dropbox etc. with setting <br>
  · Supports theme colors and numerous fonts <br>
  </details>
   
  ## 4. List
   
  - List 1
  - List 2
  * List 3
   
  ## 5. Link
   
  [Boostnote](https://boostnote.io)
   
  ## 6. Check box
   
  - [ ] Task 1
  - [ ] Task 2
   
  ## 7. Quotation
   
  > Quotation
  > Quotation Quotation
   
  ## 8. Horizontal line
   
  * * *
  ***
  ---
   
  ## 9. Image
   
  ![Image title](https://boostnote.io/assets/img/logo.png)
   
  ## 10. Source code
   
  ```js
  Render: function () {
    Return (
      <Div className = “commentBox”>
        <H1> Comments </ h1>
        <CommentList data = {this.state.data} />
        <CommentForm onCommentSubmit = {this.handleCommentSubmit} />
      </Div>
    );
  }
  ```
   
  ## 11. Table
   
  | Fruits | Price | Weight |
  |:--|:--|:--|
  | Apple | 1$ | 1KG
  | Grapes | 4$ |
  | Orange | 2$ |
  | Lemon | 1$ |
  | Peach | 3$ |
  | Melon | 20$ |
   
  ## 12. Latex
   
  $$$
  \\mathrm{e}^{\\mathrm{i}\\theta} = \\cos(\\theta) + \\mathrm{i}\\sin(\\theta)
  $$$
   
  ## 13. Flowchart
   
  ```flowchart
  st=>start: Start:>http://www.google.com[blank]
  e=>end:>http://www.google.com
  op1=>operation: My Operation
  sub1=>subroutine: My Subroutine
  cond=>condition: Yes or No?:>http://www.google.com
  io=>inputoutput: catch something…
  st->op1->cond
  cond(yes)->io->e
  cond(no)->sub1(right)->op1
  ```
   
  ## 14. Sequence
   
  ```sequence
  Title: Here is a title
  A-> B: Normal line
  B -> C: Dashed line
  C -> D: Open arrow
  D -> A: Dashed open arrow
  ```
  RAW Paste Data
  # How use Boostnote:
  - - -
  ## 1. Headings
  
  - # H1
  - ## H2
  - ### H3
  
  ## 2. Emphasis
  
  - *Italic type*
  - **Bold**
  - ~~Negative~~
  
  ## 3. Fold (for long sentences):
  
  <details><summary>Boostnote is a notepad corresponding to markdown notation, which is a tool for organizing and sharing information.</summary>
  - Features - <br>
  · Search function to find memos in one shot <br>
  · Supports markdown notation <br>
  · Support for Mac, Windows, Linux, iOS, Android <br>
  · Export and import to Plain text (.txt), Markdown (.md) format <br>
  · Supports PDF saving <br>
  · Can be used offline <br>
  · Synchronize to dropbox etc. with setting <br>
  · Supports theme colors and numerous fonts 
  </details>
  
  ## 4. List
  
  - List 1
  - List 2
  * List 3
  
  ## 5. Link
  
  [Boostnote](https://boostnote.io)
  
  ## 6. Check box
  
  - [ ] Task 1
  - [ ] Task 2
  
  ## 7. Quotation
  
  > Quotation
  > Quotation Quotation
  
  ## 8. Horizontal line
  
  * * *
  ***
  ---
  
  ## 9. Image
  
  ![Image title](https://boostnote.io/assets/img/logo.png)
  
  ## 10. Source code
  
  ```js
  Render: function () {
    Return (
      <Div className = “commentBox”>
        <H1> Comments </ h1>
        <CommentList data = {this.state.data} />
        <CommentForm onCommentSubmit = {this.handleCommentSubmit} />
      </Div>
    );
  }
  ```
  
  ## 11. Table
  
  | Fruits | Price | Weight | hehe |
  |:--|:--|:--|:--|
  | Apple | 1$ | 1KG
  | Grapes | 4$ |
  | Orange | 2$ |
  | Lemon | 1$ |
  | Peach | 3$ |
  | Melon | 20$ |
  
  ## 12. Latex
  
  $$$
  \\mathrm{e}^{\\mathrm{i}\\theta} = \\cos(\\theta) + \\mathrm{i}\\sin(\\theta)
  $$$
  
  ## 13. Flowchart
  
  ```flowchart
  st=>start: Start:>http://www.google.com[blank]
  e=>end:>http://www.google.com
  op1=>operation: My Operation
  sub1=>subroutine: My Subroutine
  cond=>condition: Yes or No?:>http://www.google.com
  io=>inputoutput: catch something…
  st->op1->cond
  cond(yes)->io->e
  cond(no)->sub1(right)->op1
  ```
  
  ## 14. Sequence
  
  ```sequence
  Title: Here is a title
  A-> B: Normal line
  B -> C: Dashed line
  C -> D: Open arrow
  D -> A: Dashed open arrow
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
